div(style="position: absolute;right: -50px;height: 100%;font-size: 26px;")
  a(href="#", style="display: block;position: relative;top: 30%;color: white;text-decoration: none;") +
  a(href="#", style="display: block;top: 60%;position: relative;color: white;text-decoration: none;") -
